<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>
      <a href="/characters">Breaking Bad Characters</a>
      <a href="/mars">Curiosity Pics</a>
      <a href="/facebuk">All facebuk posts</a>
      
      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>